@tailwind preflight;
@tailwind utilities;
/* Your custom CSS here */

body, html {
  background: black;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

/* .title {
  margin-left: 50%;
  margin-bottom: 10%;
  width: 100%;
  background: "url(/static/images/title-text-18.png)";
 width: '607px';
  height: '259px';
 minHeight: '100px';
  minWidth: '300px';
  backgroundSize: 'contain';
  backgroundPosition: 'center';
  backgroundRepeat: 'no-repeat';
} */

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 1.0s ease-in;
}

.opacity {
  opacity: 1.0;
  transition: opacity 1000ms ease-in;
}

.opacity.zero {
  opacity: 0.0001;
  transition: opacity 1000ms ease-in;
}

.menu {
  transition: margin-top 500ms ease-in;
}

a {
  color: white;
}

a:hover {
  /* background-color: white; */
  color: #ccc;
}

body::-webkit-scrollbar-track-piece
{
   display:none;
}
/* .example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
} */


.artista-container {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.artista-container.hover{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.artista.hover {
  opacity: 1.0;
  transition: opacity 500ms ease-in;
}
.artista {
  opacity: 0.001;
  transition: opacity 500ms ease-in;
}

.image-50 {
  width: 100%;
  height: auto;
}
.image-50 {
  /* -webkit-transform: scale(0.5);
     -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
       -o-transform: scale(0.5);
          transform: scale(0.5);
             filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.9999619230641713, M12=-0.008726535498373935, M21=0.008726535498373935, M22=0.9999619230641713,SizingMethod='auto expand'); */
}

.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.artist-popup {
    max-height: 65%;
}

@media only screen and (max-width: 800px) {
    .artist-popup {
        max-height: 100%;
    }
}

.loader:empty {
  position: absolute;
  top: calc(50% - 4em);
  left: calc(50% - 4em);
  width: 6em;
  height: 6em;
  border: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  border-radius: 50%;
  animation: load8 1.1s infinite linear;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* responsive image loading */
.intro-text {
  background: url(/static/images/title-text-v2-small.png);
  width: 50%;
  height: 250px;
  min-height: 100px;
  min-width: 300px;
  position: fixed;
  right: 5%;
  bottom: 20%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .intro-text {
    background-image: url(/static/images/title-text-v2.png);
  }
}
